<%- include('header') %>
<link rel="stylesheet" href="/css/playlist.css">
    <div class="dashboard">
        <link rel="stylesheet" href="/css/player.css">
        <div class="dashboardHeader">
            <img src="/images/FullLogo.svg" alt="Logo" class="logo">
            <div class="dashboardHeaderRight">
                <h1>Playlist</h1>
            </div>
        </div>
        <div class="mainContainer">
            <div class="contentContainer">
                <div class="playlistContainer">
                    <h2>
                        <%= playlist.name %>
                    </h2>
                    <p>
                        <%= playlist.description %>
                    </p>
                    <div class="tracksContainer">
                        <% playlist.tracks.forEach(function(track) { %>
                            <div class="trackItem">
                                <div class="trackInfo">
                                    <span><h2><%= track.title %></h2> - By <strong><%= track.artist %></strong></span>
                                </div>
                                    <small>
                                        <%= track.album %> - <%= track.year %>
                                    </small><br>
                                    <%= Math.floor(track.length / 60) %>:<%= ('0' + track.length % 60).slice(-2) %><br>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="audioPlayerContainer">
        <%- include('audioPlayer') %>
    </div>
    <%- include('footer') %>