<%- include('header') %>
<link rel="stylesheet" href="/css/playlist.css">
<div class="dashboard">
    <link rel="stylesheet" href="/css/player.css">
    <div class="dashboardHeader">
        <a href="/" class="logo"><img src="/images/FullLogo.svg" alt="Logo" class="logo"></a>
        <div class="dashboardHeaderRight">
            <h1>Playlist</h1>
        </div>
    </div>
    <div class="mainContainer">
        <div class="contentContainer">
            <div class="playlistContainer">
                <h2 class="playlistName">
                    <%= playlist.name %>
                </h2>
                <p class="playlistDescription">
                    <%= playlist.description %>
                </p>
                <div class="tracksContainer">
                    <% playlist.tracks.forEach(function(track) { %>
                        <div class="track">
                            <img src="/song/getCover/<%= track.id %>" alt="Track Image" class="track-image">
                            <div class="track-info">
                                <a href="<%= track.link %>" class="track-link">
                                    <h3 class="track-title"><%= track.title %></h3>
                                    <p class="track-artist"><strong><%= track.artist %></strong></p>
                                </a>
                                <p class="track-album"><%= track.album %></p>
                                <p class="track-duration">
                                    <%= Math.floor(track.length / 60) %>:<%= ('0' + track.length % 60).slice(-2) %>
                                </p>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <div class="audioPlayerContainer">
        <%- include('audioPlayer') %>
    </div>
</div>
<%- include('footer') %>