<%- include('header') %>
<link rel="stylesheet" href="/css/playlist.css">
<div class="dashboard">
    <link rel="stylesheet" href="/css/player.css">
    <div class="dashboardHeader">
        <a href="/" class="logo"><img src="/images/FullLogo.svg" alt="Logo" class="logo"></a>
        <div class="dashboardHeaderRight">
            <h1>Playlist</h1>
        </div>
    </div>
    <div class="mainContainer">
        <div class="contentContainer">
            <div class="sidePlaylistContainer">
                <div class="sidePlaylistData">
                    <h2 class="sidePlaylistName">More Playlists</h2>
                    <div class="sidePlaylistList">
                        <script>
                            document.addEventListener('DOMContentLoaded', async () => {
                                try {
                                    const playlistsResponse = await fetch('/playlist/getPlaylistsByUser');
                                    const playlists = await playlistsResponse.json();
    
                                    if (!playlists.length) {
                                        const noPlaylists = document.createElement('h3');
                                        noPlaylists.textContent = 'No playlists found, try creating one first!';
                                        document.querySelector('.sidePlaylistList').appendChild(noPlaylists);
                                        return;
                                    }
    
                                    playlists.forEach(playlist => {
                                        const playlistItem = document.createElement('div');
                                        playlistItem.className = 'track';
                                        playlistItem.innerHTML = `
                                            <a href="/playlist?playlist_id=${playlist.id}" class="track-link">
                                                <img class="track-image" src="${playlist.cover ? `/playlist/getCover/${playlist.id}` : 'https://placehold.co/300'}" alt="${playlist.name}">
                                                <div class="track-info">
                                                    <h3 class="track-title">${playlist.name}</h3>
                                                    <p class="track-artist">${playlist.description}</p>
                                                    <small class="track-tracks"></small>
                                                </div>
                                            </a>
                                        `;
                                        playlist.tracks.forEach(async trackId => {
                                            const trackResponse = await fetch(`/song/data/${trackId}`);
                                            const track = await trackResponse.json();
                                            const trackTitlesElement = playlistItem.querySelector('.track-tracks');
                                            trackTitlesElement.textContent += `${track.title}`;
                                            if (playlist.tracks.indexOf(trackId) !== playlist.tracks.length - 1) {
                                                trackTitlesElement.textContent += ', ';
                                            }
                                        });
                                        document.querySelector('.sidePlaylistList').appendChild(playlistItem);
                                    });
                                } catch (error) {
                                    console.error('Error fetching playlists:', error);
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="playlistContainer">
                <div class="playlistData">
                    <h2 class="playlistName">
                        <%= playlist.name %>
                        </h2>
                    <p class="playlistDescription">
                        <%= playlist.description %>
                    </p>
                    </div>
                <div class="tracksContainer">
                    <% playlist.tracks.forEach(function(track) { %>
                        <div class="track" onmouseover="document.getElementById('track-options-<%= track.id %>').style.opacity = 1" onmouseleave="document.getElementById('track-options-<%= track.id %>').style.opacity = 0" onclick="selectSong(<%= track.id %>, <%= playlist.id %>, <%= track.index %>)">
                            <span class="track-number"><%= track.index + 1 %></span>
                            <img src="/song/getCover/<%= track.id %>" alt="Track Image" class="track-image">
                            <div class="track-info">
                                <a href="<%= track.link %>" class="track-link">
                                    <h3 class="track-title"><%= track.title %></h3>
                                    <p class="track-artist"><strong><%= track.artist %></strong></p>
                                </a>
                                <p class="track-album"><%= track.album %></p>
                                <p class="track-duration">
                                    <%= Math.floor(track.length / 60) %>:<%= ('0' + track.length % 60).slice(-2) %>
                                </p>
                            </div>
                            <div class="track-options" id="track-options-<%= track.id %>">
                                <a href="/song/get/<%= track.id %>" class="track-option">
                                    ⬇️
                                </a>
                                <a onclick="selectSong(<%= track.id %>, <%= playlist.id %>, <%= track.index %>)" class="track-option">
                                    ▶
                                </a>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <div class="audioPlayerContainer">
        <%- include('audioPlayer') %>
    </div>
</div>
<%- include('footer') %>